USE [master]
GO
/****** Objeto: Database [TurnoSync] Fecha de script: 8/7/2026 17:37:45 ******/
CREATE DATABASE [TurnoSync]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TurnoSync', FILENAME = N'C:\Users\EmeBass\TurnoSync.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TurnoSync_log', FILENAME = N'C:\Users\EmeBass\TurnoSync_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TurnoSync].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TurnoSync]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
	[Actividad] [varchar](200) NOT NULL,
	[Informacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ControlCambios] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlCambios](
	[IdControlCambio] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](50) NOT NULL,
	[IdRegistro] [int] NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[DatosAnteriores] [xml] NOT NULL,
	[Restaurado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdControlCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DigitoVerificador] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[IdDigitoVerificador] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [nvarchar](50) NOT NULL,
	[DVV] [int] NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDigitoVerificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Especialidad] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Paciente] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [nvarchar](300) NULL,
	[FechaNacimiento] [date] NULL,
	[ObraSocial] [varchar](100) NULL,
	[Activo] [bit] NOT NULL,
	[DVH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Profesional] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesional](
	[IdProfesional] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [nvarchar](300) NULL,
	[FechaNacimiento] [date] NULL,
	[Matricula] [varchar](20) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProfesional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsGrupo] [bit] NOT NULL,
	[IdRolPadre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPermiso] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermiso](
	[IdRol] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Traduccion] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[Texto] [nvarchar](300) NOT NULL,
	[IdClave] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TraduccionClave] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraduccionClave](
	[IdClave] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Turno] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdProfesional] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Estado] [int] NOT NULL,
	[Observaciones] [varchar](300) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuarioRol] Fecha de script: 8/7/2026 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Fecha], [UsuarioId], [Actividad], [Informacion]) VALUES (4, CAST(N'2026-04-20T14:29:27.847' AS DateTime), NULL, N'Inicio de Sesión', N'Usuario: admin')
INSERT [dbo].[Bitacora] ([Id], [Fecha], [UsuarioId], [Actividad], [Informacion]) VALUES (5, CAST(N'2026-04-20T14:30:59.007' AS DateTime), NULL, N'Inicio de Sesión', N'Usuario: root')
INSERT [dbo].[Bitacora] ([Id], [Fecha], [UsuarioId], [Actividad], [Informacion]) VALUES (6, CAST(N'2026-04-20T14:31:39.860' AS DateTime), 2, N'Inicio de Sesión', N'Usuario: root')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[ControlCambios] ON 

SET IDENTITY_INSERT [dbo].[ControlCambios] OFF
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] ON 

INSERT [dbo].[DigitoVerificador] ([IdDigitoVerificador], [Tabla], [DVV], [FechaCalculo]) VALUES (1, N'Paciente', 60, CAST(N'2026-06-08T18:39:17.810' AS DateTime))
INSERT [dbo].[DigitoVerificador] ([IdDigitoVerificador], [Tabla], [DVV], [FechaCalculo]) VALUES (2, N'Paciente', 60, CAST(N'2026-06-10T15:29:48.083' AS DateTime))
INSERT [dbo].[DigitoVerificador] ([IdDigitoVerificador], [Tabla], [DVV], [FechaCalculo]) VALUES (3, N'Paciente', 60, CAST(N'2026-06-10T15:33:26.113' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([IdEspecialidad], [Nombre], [Activo]) VALUES (1, N'Clínica Médica', 1)
INSERT [dbo].[Especialidad] ([IdEspecialidad], [Nombre], [Activo]) VALUES (2, N'Cardio', 1)
INSERT [dbo].[Especialidad] ([IdEspecialidad], [Nombre], [Activo]) VALUES (4, N'Dermatología', 1)
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Codigo], [Nombre]) VALUES (1, N'es', N'Español')
INSERT [dbo].[Idioma] ([IdIdioma], [Codigo], [Nombre]) VALUES (2, N'en', N'English')
INSERT [dbo].[Idioma] ([IdIdioma], [Codigo], [Nombre]) VALUES (7, N'fr', N'Frances')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([IdPaciente], [Nombre], [Apellido], [DNI], [Telefono], [Email], [FechaNacimiento], [ObraSocial], [Activo], [DVH]) VALUES (6, N'Federico', N'Mendez', N'41691979', N'1158471020', N'XMVXFsP41SQDG3mbamWreLELVTRyf6ZqSThw7ki5rV+nL1xtF6CtqVQVtlQO1IED', CAST(N'2026-07-06' AS Date), N'asdasdsa', 1, 46)
INSERT [dbo].[Paciente] ([IdPaciente], [Nombre], [Apellido], [DNI], [Telefono], [Email], [FechaNacimiento], [ObraSocial], [Activo], [DVH]) VALUES (7, N'pedro', N'gimenez', N'44112244', N'115147120', N'u2ZJYBTi/4Xb5WVg8X8s9N7sZLw8QSwOrbr6ixDaXtKFo//x8poI3nAXhE9Op8Q9', CAST(N'2026-07-06' AS Date), N'asdasd', 1, 11)
INSERT [dbo].[Paciente] ([IdPaciente], [Nombre], [Apellido], [DNI], [Telefono], [Email], [FechaNacimiento], [ObraSocial], [Activo], [DVH]) VALUES (8, N'Agustin', N'Floresta', N'12345678', N'11558877', N'oZSTe4adLMNSgy1heLC3YFIK3ykbop9HDnGtGz3g4SplEd6chgTLVnqzcfGMx3zc', CAST(N'2018-12-31' AS Date), N'asf', 1, 81)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesional] ON 

INSERT [dbo].[Profesional] ([IdProfesional], [Nombre], [Apellido], [DNI], [Telefono], [Email], [FechaNacimiento], [Matricula], [IdEspecialidad], [Activo]) VALUES (4, N'hernan', N'vazquez', N'12345678', NULL, NULL, CAST(N'1988-12-26' AS Date), N'123', 1, 1)
INSERT [dbo].[Profesional] ([IdProfesional], [Nombre], [Apellido], [DNI], [Telefono], [Email], [FechaNacimiento], [Matricula], [IdEspecialidad], [Activo]) VALUES (5, N'Augusto', N'Menendez', N'44556688', NULL, NULL, CAST(N'2019-01-01' AS Date), N'1144', 7, 1)
INSERT [dbo].[Profesional] ([IdProfesional], [Nombre], [Apellido], [DNI], [Telefono], [Email], [FechaNacimiento], [Matricula], [IdEspecialidad], [Activo]) VALUES (6, N'Exequiel', N'Melendez', N'11223344', NULL, NULL, CAST(N'2025-11-18' AS Date), N'1145', 1, 1)
SET IDENTITY_INSERT [dbo].[Profesional] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre], [EsGrupo], [IdRolPadre]) VALUES (1, N'Sistema', 1, NULL)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [EsGrupo], [IdRolPadre]) VALUES (2, N'Administrador', 1, 1)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [EsGrupo], [IdRolPadre]) VALUES (3, N'Recepcionista', 1, 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[RolPermiso] ([IdRol], [IdPermiso]) VALUES (1, 2)
INSERT [dbo].[RolPermiso] ([IdRol], [IdPermiso]) VALUES (1, 3)
INSERT [dbo].[RolPermiso] ([IdRol], [IdPermiso]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [Texto], [IdClave]) VALUES (157, 1, N'Guardar', 19)
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [Texto], [IdClave]) VALUES (158, 2, N'Save', 19)
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [Texto], [IdClave]) VALUES (159, 1, N'Nuevoooooo', 23)
GO
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
SET IDENTITY_INSERT [dbo].[TraduccionClave] ON 

INSERT [dbo].[TraduccionClave] ([IdClave], [Clave]) VALUES (1, N'aBMToolStripMenuItem')
INSERT [dbo].[TraduccionClave] ([IdClave], [Clave]) VALUES (2, N'bitacoraToolStripMenuItem')
INSERT [dbo].[TraduccionClave] ([IdClave], [Clave]) VALUES (3, N'btnActualizar')
GO
SET IDENTITY_INSERT [dbo].[TraduccionClave] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([IdTurno], [IdPaciente], [IdProfesional], [FechaHora], [Estado], [Observaciones], [Activo]) VALUES (3, 6, 4, CAST(N'2026-07-23T11:55:29.000' AS DateTime), 2, N'psiquiatria', 1)
INSERT [dbo].[Turno] ([IdTurno], [IdPaciente], [IdProfesional], [FechaHora], [Estado], [Observaciones], [Activo]) VALUES (4, 7, 5, CAST(N'2026-07-30T12:41:00.000' AS DateTime), 2, N'asd', 1)
INSERT [dbo].[Turno] ([IdTurno], [IdPaciente], [IdProfesional], [FechaHora], [Estado], [Observaciones], [Activo]) VALUES (5, 6, 4, CAST(N'2026-07-09T13:24:00.000' AS DateTime), 2, N'', 1)
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [PasswordHash], [Activo]) VALUES (2, N'root', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [PasswordHash], [Activo]) VALUES (4, N'Recepcion', N'/iWStCpyfpd/BVlHOFtwnMgrFrmof4jGq/OQDWXQzcM=', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [PasswordHash], [Activo]) VALUES (5, N'Pedro', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioRol] ([IdUsuario], [IdRol]) VALUES (2, 2)
INSERT [dbo].[UsuarioRol] ([IdUsuario], [IdRol]) VALUES (2, 5)
INSERT [dbo].[UsuarioRol] ([IdUsuario], [IdRol]) VALUES (2, 6)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Idioma__06370DAC30F283F4] Fecha de script: 8/7/2026 17:37:45 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Idioma__06370DAC61D2BF82] Fecha de script: 8/7/2026 17:37:45 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__6B0F5AE01204A399] Fecha de script: 8/7/2026 17:37:45 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__6B0F5AE0E3777482] Fecha de script: 8/7/2026 17:37:45 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[ControlCambios] ADD  DEFAULT ((0)) FOR [Restaurado]
GO
ALTER TABLE [dbo].[DigitoVerificador] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Especialidad] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Profesional] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((0)) FOR [EsGrupo]
GO
ALTER TABLE [dbo].[Turno] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Turno] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Profesional]  WITH CHECK ADD FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Profesional]  WITH CHECK ADD FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Rol]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Padre] FOREIGN KEY([IdRolPadre])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Rol] CHECK CONSTRAINT [FK_Rol_Padre]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([IdProfesional])
REFERENCES [dbo].[Profesional] ([IdProfesional])
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([IdProfesional])
REFERENCES [dbo].[Profesional] ([IdProfesional])
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
USE [master]
GO
